.main-container {
  background-color: aquamarine;
  height: 100vh;
}

.main-emoji-container {
  display: flex;
  justify-content: space-evenly;
}

.show-emoji-container {
  margin-top: 60px;

  height: 190px;
  width: 150px;
  border-radius: 10px;
  border: double 1px black;
}

.emoji-container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.title-container {
  display: flex;
  justify-content: center;

}

.title {
  background-color: azure;
  padding: 10px;
  width: 30%;
  text-align: center;
  font-size: 30px;
  border-radius: 50px;
  box-shadow: 3px 2px 2px 0px #181616;
  font-family: sans-serif;
  color: chocolate;
}

.emoji-container {
  background-color: white;
  height: 30px;
  width: 60%;
  padding: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
  box-shadow: 2px 1px 2px 1px #808080;
}

.emoji {
  cursor: pointer;
  font-size: 20px;
}

.emoji:hover {
  transform: scale(1.2);
}

.editing-tool {

  background-color: aliceblue;
  height: 90px;
  width: 340px;
  border-radius: 15px;
}

.color-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.color-item {
  height: 20px;
  width: 23px;
  background-color: red;

}

.bg-red {
  background-color: red;
}

.bg-yellow {
  background-color: yellow;
}

.bg-purple {
  background-color: purple;
}

.bg-pink {
  background-color: pink;
}

.color-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.size-container{
  background-color: rgb(179, 187, 194);
  height: 50px;
  padding: 2px;
  width: 340px;
  border-radius: 15px;
  margin-top: 20px;
}
.size-slider{
  width: 90%;
  display: flex;
  align-items: center;
  height: 100%;
}